<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li id='to-left'>
          <p><a href='/'> Homepage </a></p>
        </li>
        <li id='to-right'>
          <a href='/signup'>Signup</a>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>